<html lang="en">  
    <head>
         <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.js" type="text/javascript"></script>
         <script src="https://www.google.com/jsapi" type="text/javascript"></script>
         <script>
          "use strict";
          /*We need to manually start angular as we need to
          wait for the google charting libs to be ready*/  
          // google.setOnLoadCallback(function () {  
          //     angular.bootstrap(document.body, ['my-app']);
          // });
          google.load('visualization', '1', {packages: ['corechart']});


          var myApp = angular.module("my-app",[]);

          myApp.controller("IndexCtrl",function($scope){  
              $scope.data1 = {};
              $scope.data1.dataTable = new google.visualization.DataTable();
              $scope.data1.dataTable.addColumn("string","Name")
              $scope.data1.dataTable.addColumn("number","Qty")
              $scope.data1.dataTable.addRow(["Test",1]);
              $scope.data1.dataTable.addRow(["Test2",2]);
              $scope.data1.dataTable.addRow(["Test3",3]);
              $scope.data1.title="My Pie"

              $scope.data2 = {};
              $scope.data2.dataTable = new google.visualization.DataTable();
              $scope.data2.dataTable.addColumn("string","Name")
              $scope.data2.dataTable.addColumn("number","Qty")
              $scope.data2.dataTable.addRow(["Test",1]);
              $scope.data2.dataTable.addRow(["Test2",2]);
              $scope.data2.dataTable.addRow(["Test3",3]);


              $scope.data3 = {};
              $scope.data3.dataTable = new google.visualization.DataTable();
              $scope.data3.dataTable.addColumn("string","Name")
              $scope.data3.dataTable.addColumn("number","Qty")
              $scope.data3.dataTable.addRow(["Test",1]);
              $scope.data3.dataTable.addRow(["Test2",2]);
              $scope.data3.dataTable.addRow(["Test3",3]);
          });

          myApp.directive("googleChart",function(){  
              return {
                  restrict : "A",
                  link: function($scope, $elem, $attr){
                      var dt = $scope[$attr.ngModel].dataTable;

                      var options = {};
                      if($scope[$attr.ngModel].title)
                          options.title = $scope[$attr.ngModel].title;

                      var googleChart = new google.visualization[$attr.googleChart]($elem[0]);
                      googleChart.draw(dt,options)
                  }
              }
          });
         </script>
         <style type="text/css">
             .bigGraph {width:500px;height:500px;float:left;}
             .mediumGraph {width:400px;height:400px;float:left;}
             .smallGraph {width:200px;height:200px;float:left;}
         </style>
    </head>
    <body ng-app="my-app" ng-controller="IndexCtrl">
        <div google-chart="PieChart" ng-model="data1" class="bigGraph"></div>
        <div google-chart="BarChart" ng-model="data2" class="mediumGraph"></div>
        <div google-chart="LineChart" ng-model="data3" class="smallGraph"></div>
    </body>
</html>